:root {
    --main: #2563eb;
    --bg: #161817;
    --border: #e5e7eb;
    --delete: #ff4d4d;
    --dlt-btn-hvr: #e60000;
}

* {
    color: #fff;
}

body {
    background-color: var(--bg);
}

.app {
    background-color: #0d0d0d;
    height: fit-content;
    width: 70vw;
    padding: 30px;
    border-radius: 20px;
    margin: 70px auto;
}

h1 {
    text-align: center;
    color: var(--main);
}

.input-box {
    display: flex;
    flex-direction: column;
}

input,
button {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

input {
    outline: none;
    border-style: solid;
    border-color: var(--border, #e5e7eb);
    background-color: var(--bg);
}

button {
    background-color: var(--main, #2563eb);
    color: #fff;
    border: none;
    width: fit-content;
    cursor: pointer;
}

button#addBtn {
    width: 97%;
    margin: 15px auto;
}

p#message {
    color: var(--delete);
    height: 35px;
    background-image: linear-gradient(
        45deg,
        #0c3794,
        #0d45bf,
        #1f61f1,
        #6b97f6
    );
    width: 95%;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.total {
    font-size: 0.8rem;
    font-weight: bold;
    color: #facc15;
}

#taskCount {
    color: var(--main);
}

ol li {
    background-color: var(--bg);
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

ol li span {
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
}

ol li input {
    margin-left: 0;
}

ol li button,
.list-top button {
    margin-left: 0;
    margin-bottom: 0;
    background-color: var(--delete);
}

ol li button:hover,
.list-top button:hover {
    background-color: var(--dlt-btn-hvr);
}

li.done span {
    text-decoration: line-through;
    color: #a8cbf0;
    opacity: 0.6;
    background-color: #132e4b;
}

li.done input {
    opacity: 0.5;
    background-color: #f0f0f0;
    color: var(--bg);
}

.list-top {
    display: flex;
    justify-content: space-between;
}

.list-top button {
    padding: 10px;
    height: fit-content;
    margin: auto 0;
}

@media (max-width: 500px) {
    .app {
        padding: 10px;
        width: 90%;
    }

    h1 {
        font-size: 1.6rem;
        white-space: nowrap;
    }

    p#message {
        font-size: 0.9rem;
        white-space: nowrap;
        padding: 10px 20px;
        width: 85%;
    }
}

@media (min-width: 700px) {
    .app {
        width: 50vw;
    }
}

@media (min-width: 1200px) {
    .app {
        width: 40vw;
    }
}
